* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #242424;
  transition: all ease-in-out 400ms;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 400px) {
  body {
    overflow: auto;
  }
}

html::-webkit-scrollbar {
  display: none;
}