.navigation {
	width: 100%;
	display: flex;
	background: linear-gradient(to right, #1655c4, #7164d7);
	color: #ffffff;
	font-weight: 600;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding: 0 20px;
}

.navigation .logo {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 12px;
	left: 20px;
}

.navigation .logo img {
	width: 60px;
}

.tabs {
	display: flex;
	gap: 30px;
	font-family: "Poppins", sans-serif;
}

.tabs .btn {
	font-weight: 700;
	color: #ffffff;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 18px;
}

.tabs .btn:hover {
	transition: all ease 400ms;
	transform: scale(1.1);
}

.search {
	display: flex;
	width: 600px;
	padding: 10px 20px;
}

.search input {
	width: 100%;
	padding: 5px;
	border: none;
	border-radius: 5px;
}

.search input:focus {
	outline: none;
}

h1 {
	text-align: center;
	background: linear-gradient(to right, #1655c4, #7164d7);
	color: #fff;
	font-size: 20px;
	padding: 20px 0;
}

.hidden {
	display: none;
}

.main {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

a:visited {
	color: #000000;
}

.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 280px;
	height: 70px;
	padding: 0 10px 0 0;
	background-color: #ffffff;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.card:hover {
	transform: scale(1.05);
	transition: all ease-in 400ms;
}

.card .card-header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	background: linear-gradient(to right, #1655c4, #7164d7);
	height: 100%;
	border-radius: 10px 0px 0 10px;
}

.card .card-header img {
	width: 40px;
}

.card .name {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-family: "Poppins", sans-serif;
	height: 100%;
	width: 90%;
	font-size: 15px;
	font-weight: 700;
	color: #000000;
}

#on {
	display: none;
}

.bxs-sun {
	display: none;
	font-size: 20px;
}

.bxs-moon {
	font-size: 20px;
}

.dark-theme {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	background-color: #7164d7;
	width: 40px;
	height: 40px;
	border-radius: 500px;
	right: 30px;
	top: 60px;
}