#aba-container {
  display: flex;
  position: absolute;
  top: 75px;
  width: 100%;
  z-index: 20000;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 5px;
}

.tab-button {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3a3a3a;
  padding: 2px 4px;
  width: 150px;
  border-bottom: solid 1px #535353;
  border-left: solid 1px #535353;
  border-right: solid 1px #535353;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  font-size: 15px;
}

.tab-button.active::before {
  content: " ";
  position: absolute;
  background-color: transparent;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  right: -24px;
  top: 4px;
  box-shadow: -8px -18px 0 #252525;
}

.close-button {
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tab-button.active {
  background-color: #252525;
  /* Cor de fundo ativa */
  color: #fff;
  /* Cor do texto para contraste */
  border-color: #ffffff;
}

::-webkit-scrollbar {
  display: none;
}