@keyframes size {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

#aba-container {
  display: flex;
  position: absolute;
  top: 75px;
  width: 100%;
  z-index: 1000;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 5px;
}

@media (max-width: 1200px) {
  #aba-container {
    top: 115px;
  }
}

.tab-button {
  animation: size 400ms;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3a3a3a;
  padding: 2px 10px;
  width: 150px;
  border: solid 2px #535353;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  font-size: 15px;
  transition: all ease-in-out 400ms;

}

.close-button {
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.close-button:hover {
  color: rgb(254, 76, 76);
}


.tab-button.active {
  background-color: #252525;
  /* Cor de fundo ativa */
  color: #fff;
  /* Cor do texto para contraste */
  border-color: #ffffff;
  border-radius: 15px;
  transition: all ease 400ms;
}

::-webkit-scrollbar {
  display: none;
}

#btn-close-all {
  position: absolute;
  top: 115px;
  background-color: #3a3a3a;
  right: 0px;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0 0 1px 1px white;
  font-size: 25px;
  color: #ffffff;
  cursor: pointer;
  z-index: 1000;
  border-radius: 10px 0 0 10px;
}


@media (max-width: 1200px) {
  #btn-close-all {
    top: 150px;

  }
}

@keyframes delete {
  0% {
    transform: translateX(-1px);
  }

  100% {
    transform: translateX(0px);
  }
}

#btn-close-all .bx:hover {
  animation: delete 400ms;
}


@keyframes siders {
  0% {
    transform: translateX(150px);
  }

  100% {
    transform: translateX(0px);
  }
}


.acess-speed {
  display: none;
  position: absolute;
  top: 8px;
  right: 40px;
  background-color: #252525;
  /* Cor de fundo */
  color: #ffffff;
  /* Cor do texto */
  font-family: 'Arial', sans-serif;
  /* Fonte */
  font-size: 16px;
  /* Tamanho da fonte */
  border-radius: 5px;
  border: none;
  /* Borda arredondada */
  padding: 2px;
  /* Espaçamento interno */
  width: 150px;
  /* Largura do select */
  outline: none;
  /* Remove o contorno padrão */
  animation: siders 0.5s;
}

.acess-speed option {
  cursor: pointer;
}

.opens {
  background-color: #252525;
  border: none;
  font-size: 25px;
  width: 30px;
  padding: 2px 0 0 0;
  height: 100%;
  cursor: pointer;
  color: #ffffff;
  border-radius: 10px 0 0 10px;

}

.acess-opens {
  background-color: #252525;
  display: flex;
  border: #ffffff solid 1px;
  align-content: center;
  justify-content: end;
  border-right: none;
  position: absolute;
  top: 165px;
  right: 0;
  border-radius: 10px 0 0 10px;
  width: 32px;
  height: 40px;
  transition: width 0.5s ease;
}

.acess-opens.active {
  display: flex;
  background-color: #252525;
  justify-content: end;
  width: 200px;
  height: 40px;
  border-radius: 10px 0 0 10px;
}

.select {
  width: 30px;
  height: 100%;
}